/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

	header {
		text-align:center;
		display: block;
		background-color: aquamarine;
			}
		header h1 {
			text-align:center;
		display: block;
			background-color: lightblue;
				}
			header img 	{
				text-align:center;
		display: center;
				padding: 20px;
						}
				header .subheading {
					text-align:center;
		display: block;
						}

nav { 
	max-width: 100%;
      text-align: inherit;
        color: #FFF;
        position: relative;
        top: 85px;
        left: 0;}
nav button {
	background-color: dimgray}
nav ul {
	
}
nav ul li {
	text-align-last: center;
	margin: left;
}

nav ul li a {
	max-width: 100%;
	text-align: center;
    padding: 10px;
    background-color: orangered;
	display: inline;
}

nav ul li.active a {
	
}
nav ul li a {
	
}

	main {
		text-align:center;
		display: block;
	
		}

	main h2 {
		text-align:center;
		display: block;
			}

	main h3 {
		display:none;
		text-align:center;
		display: inline-grid;
		border: 2px solid gray;
			}
main table {
	display:none;
	text-align:center;
		display: inline-grid;
	background-color: dimgray;
	
}

main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section {
	text-align:center;
		display: block;
	
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  max-width: 100%; /* fill the page in the small/phone view */
  height: auto;
}

footer { 
	background-color: skyblue;
	color: black;
	text-align:center;
}
footer aside { 
	background-color: royalblue;
	color: black;
	text-align:center;
}
footer>p {
	
} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */