head{
    text-align: center;
    background-color: blue;
    font-size: 2em;
    display: inline; 
    
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline; 
  }
  footer{
    display: inline; 
    text-align: center;
    background-color: blue;
  }